.app-container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: white;
  padding: 20px;
  height: 100vh;
  transition: width 0.3s ease, visibility 0.3s ease;
}

.sidebar h2 {
  color: white;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

/* Ajustar el contenido principal */
.main-content {
  margin-left: 250px; /* Espacio para el Sidebar */
  padding: 20px;
  transition: margin-left 0.3s ease; /* Transición suave para el desplazamiento */
}

/* Cuando el Sidebar está abierto */
.App.sidebar-open .main-content {
  margin-left: 250px; /* Espacio para el Sidebar */
}

/* Cuando el Sidebar está cerrado */
.App.sidebar-closed .main-content {
  margin-left: 0; /* Sin margen cuando el Sidebar está cerrado */
}

/* Media queries para pantallas más pequeñas */
@media (max-width: 768px) {
  .sidebar {
    width: 0;
    padding: 0;
    visibility: hidden;
  }

  .main-content {
    margin-left: 0; /* Sin margen en pantallas pequeñas */
    padding: 15px;
  }

  .sidebar.w-250 {
    width: 250px;
    padding: 20px;
    visibility: visible;
  }

  .sidebar.w-0 {
    width: 0;
    padding: 0;
    visibility: hidden;
  }
}

.sidebar {
  background-color: rgb(0, 0, 0) !important;
  visibility: visible !important;
}
