.planta-item {
    margin-bottom: 15px; /* Espacio entre cada planta */
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc; /* Línea separadora opcional */
  }

/* Estilo para el título de la lista de plantas */
.plantas-title {
  text-align: center; 
  font-size: 2rem;
  margin-bottom: 30px; 
}

.planta-nombre-tipo {
  font-size: 1.35rem;
  display: inline-block;
  margin-bottom: 5px;
}
