.sidebar {
  width: 250px; /* Sidebar fija */
  height: 100vh; /* Ocupa toda la altura */
  position: fixed; /* Se queda fija en la pantalla */
  top: 0;
  left: 0;
}

.content {
  margin-left: 250px; /* Empujar el contenido para que no se meta en la sidebar */
  width: calc(100% - 250px); /* Ajustar el ancho del contenido */
}
